# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# File that stores custom attributes of a folder on macOS.
.DS_Store

**/*.log
.playground

# Binary for linux, mac
arngin
!cmd/arngin
bin
